@import '../../variables';
@import '../../mixin';

.profile {
    height: calc(100vh - 90px);
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: $color_bg_main;
    color: $color_text_main;

}

.profile::-webkit-scrollbar {
    @include scrollbar;
}

.profile::-webkit-scrollbar-thumb {
    @include scrollbar-thumb;
}