/* dialogs */
.dialogs {
    /* height: calc(100vh - 100px); */
    padding: .5em;
    background-color: #96aab7;
}

.dialog {
    padding: .5em 0;
}

.links {
    color: #141514;
}

.links::before {
    content: "<";
}

.links::after {
    content: ">";
}