.usersWrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: .3em;
    gap: .4em;
    height: calc(100vh - 180px);
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #141514;
    color: #b296b7;
    /* background-color: rgb(34, 34, 34); */
}

.usersWrapper::-webkit-scrollbar {
    width: 4px;
    background-color: #2c2c2d;
}

.usersWrapper::-webkit-scrollbar-thumb {
    background-color: #96aab7;
    border-radius: 2px;
}
.pageControll{
    /* max-width: 95%; */
    margin: 5px;
    padding: 5px;
    background-color: #080808;
}
.countPageBtn{
    margin-right: 0px;
    color:#96aab7;
    background: transparent;
    border: none;
    cursor: pointer;
}


.pageNumBtn{
    cursor: pointer;
}
.pageNumBtnSelect{
    color: rgb(57, 143, 255);
}
.pageNumBtnDisabled{
    color: #313b42;
    cursor: default;
}


.activeBtn{
    
    color:#c4dae9;
    background: transparent;
    border: 1px solid #313b42;
    
}

.userWrapper{
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: .3em;
    gap: .4em;
    padding: .5em;
    border-radius: 6px;
    background-color: rgb(48, 48, 48);
}
.avatarWrapper{
    display: grid;
    grid-template-rows: 1fr max-content;
}
.avatar{
    width: 60px;
    
}

.followBtn{
padding: 0;
font-weight: 500;
background: none;
border: none;
color:#96aab7;
cursor: pointer;
}

.userInfo{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: end;
    gap: .4em;
}
.userInfo__Name{

padding: .2em;
font-weight: 700;
}
.userInfo__location{
    padding: .2em;
}