@import '../../../variables';
@import '../../../mixin';

.messages {
    padding: .5em;
    background-color: $color_bg_main;
    height: calc(100vh - 140px);
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.messages::-webkit-scrollbar {
    @include scrollbar;
}

.messages::-webkit-scrollbar-thumb {
    @include scrollbar-thumb;
}

.message {
    margin-top: 10px;
    margin-left: 5em;
    padding: .5em;
    background-color: $color_bg_secondary;
    color: $color_text_dark;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.newMessage {
    display: grid;
    grid-template-columns: 10fr 2fr;
    gap: 4px;
    padding: .3em;
    border: 1px solid $color_bg_main;
}

.newMessage__Btn {
    background-color: $color_btn_bg_dark;
    color: $color_text_secondary;
}