@import '../../../variables';
@import '../../../mixin';

.my__posts {
  padding: 1em;
}

.new__post {
  display: grid;
  grid-template-columns: 10fr 2fr;
  gap: 4px;
  padding: .3em;
  border: 1px solid $color_bg_secondary;
}

.newPostText {}

.newPostBtn {
  background-color: $color_btn_bg_dark;
  color: $color_text_secondary;
}


.posts {
  padding: 1em 0;
  display: grid;
  gap: 1em;
}