//colors =======================
//backgrounds
$color_bg_main: rgb(12, 12, 12);
$color_bg_secondary: rgb(180, 180, 180);
//text
$color_text_main: rgb(140, 165, 194);
$color_text_secondary: rgb(185, 202, 204);
$color_text_design: rgb(47, 134, 248);
$color_text_dark: rgb(57, 60, 68);
//scroolbars
$scrollbar_bg: #2c2c2d;
$scrollbar-thumb_bg: #96aab7;
//btns
$color_btn_bg_dark: rgb(10, 11, 14);
$color_btn_bg_light: rgb(115, 124, 153);


